@tailwind base;
@tailwind components;
@tailwind utilities;

.wavy-line-background {
  --mask: radial-gradient(
        152.05px at 50% calc(100% - 204px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 136px) 0/272px 100%,
    radial-gradient(152.05px at 50% calc(100% + 136px), #0000 99%, #000 101%)
      50% calc(100% - 68px) / 272px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background-color: linear-gradient(
    135deg,
    #1f005c,
    #5b0060,
    #870160,
    #ac255e,
    #ca485c,
    #e16b5c,
    #f39060,
    #ffb56b
  );
}

.circular-carousel {
  display: flex;
  justify-content: center;
  /* width: 800px;
  height: 400px; */
  margin: 0 auto;
  perspective: 250px;
  perspective-origin: 50% 50%;
}

.circular-carousel--image.far-left {
  transform: rotateY(-15deg) scale(0.5, 0.5);
  order: 1;
  flex-shrink: 10;
}

.circular-carousel--image.left {
  transform: rotateY(-15deg) scale(0.7, 0.7);
  order: 2;
}

.circular-carousel--image.center {
  order: 3;
}

.circular-carousel--image.right {
  transform: rotateY(15deg) scale(0.7, 0.7);
  order: 4;
}

.circular-carousel--image.far-right {
  transform: rotateY(15deg) scale(0.5, 0.5);
  order: 5;
  flex-shrink: 10;
}
